
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
html{
  font-size: 16px;
}

body{
  background-color: #F6FFF8;
}
::-webkit-scrollbar{
  display: none;
}

.d-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input{
  outline: none;
}
button{
  cursor: pointer;
}
a,a:visited,a:focus{
  color: inherit;
  text-decoration: none;
}
#loadercont{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.loader {
  width: 16px;
  height: 16px;
  position: relative;
  left: -15px;
  border-radius: 50%;
  color: #023436;
  background: currentColor;
  box-shadow: 32px 0 , -32px 0 ,  64px 0;
  display: block;
}

.loader::after {
  content: '';
  position: absolute;
  left: -32px;
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background:#00BFB3;
  animation: move 3s linear infinite alternate;
}

@keyframes move {
  0% , 5%{
    left: -32px;
    width: 16px;
  }
  15% , 20%{
    left: -32px;
    width: 48px;
  }
  30% , 35%{
    left: 0px;
    width: 16px;
  }
  45% , 50%{
    left: 0px;
    width: 48px;
  }
  60% , 65%{
    left: 32px;
    width: 16px;
  }

  75% , 80% {
    left: 32px;
    width: 48px;
  }
  95%, 100% {
    left: 64px;
    width: 16px;
  }
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }


.loadersmall {
  width: 20px;
  height: 20px;
  border: 3px solid #023436;
  border-bottom-color: #00BFB3;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: relative;
  right: -4px;
  top: 2.5px;
  }
  .error_illustrations{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .error_illustrations > img{
    width: 400px;
    height: 400px;
  }
  .error_illustrations > header{
    font-size: 20px;
    font-weight: 600;
    color: #023436;
  }

  @media screen and ( max-width:768px ) {
    .error_illustrations > img{
      width: 300px;
      height: 300px;
    }
  }

  @media screen and ( max-width:368px ) {
    .error_illustrations > img{
      width: 200px;
      height: 200px;
    }
  }
 